# todo: add batching

name: "MODEL_NAME"
backend: "python"

input [
  {
    name: "TEXT_INPUT_NAME"
    data_type: TYPE_STRING
    format: FORMAT_NONE
    dims: [ -1 ]
  },
  {
    name: "SPEAKER_EMBEDDING_INPUT_NAME"
    data_type: TYPE_FP32
    dims: [ 512 ]
  }
]

output [
  {
    name: "AUDIO_SIGNAL_OUTPUT_NAME"
    data_type: TYPE_INT16
    dims: [ -1 ]
  }
]

instance_group [
  {
      count: 1
      kind: KIND_GPU
      gpus: [ 0 ]
    }
]
